*{
    margin: 0;
    padding: 0;
}
h1,h2,h3,i{
    font-style: normal;
    font-weight: normal;
}
html{
    font-size: 50px;
}
@media screen and (max-width: 769px){
    html{
        font-size: 120px;
    }
}
@media screen and (max-width: 415px){
    html{
        font-size: 64.687px;
    }
}
@media screen and (max-width: 376px){
    html{
        font-size: 58.5937px;
    }
}
@media screen and (max-width: 321px){
    html{
        font-size: 50px;
    }
}